* {
  box-sizing: border-box;
}

html {
  font-family: 'Jost', sans-serif;
}

body {
  margin: 0;
}

section {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
<<<<<<< HEAD
  margin: 3rem auto;
  border-radius: 10px;
  padding: 1rem;
  background-color: #4fc08d;
  background-color: #4fc08d;
  color: white;
  text-align: center;
  width: 90%;
  max-width: 40rem;
}

#events {
  box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  margin: 3rem auto;
=======
  margin: 3rem;
>>>>>>> 9520fa2 (assignment vue basic - 01)
  border-radius: 10px;
  padding: 1rem;
  text-align: center;
}

<<<<<<< HEAD
#events h2 {
=======
h2 {
>>>>>>> 9520fa2 (assignment vue basic - 01)
  font-size: 2rem;
  border-bottom: 4px solid #ccc;
  color: #970076;
  margin: 0 0 1rem 0;
}

<<<<<<< HEAD
#events p {
=======
p {
>>>>>>> 9520fa2 (assignment vue basic - 01)
  font-size: 1.25rem;
  font-weight: bold;
  background-color: #970076;
  padding: 0.5rem;
  color: white;
  border-radius: 25px;
}

<<<<<<< HEAD
#events input {
=======
input {
>>>>>>> 9520fa2 (assignment vue basic - 01)
  font: inherit;
  border: 1px solid #ccc;
}

<<<<<<< HEAD
#events input:focus {
=======
input:focus {
>>>>>>> 9520fa2 (assignment vue basic - 01)
  outline: none;
  border-color: #1b995e;
  background-color: #d7fdeb;
}

<<<<<<< HEAD
#events button {
=======
button {
>>>>>>> 9520fa2 (assignment vue basic - 01)
  font: inherit;
  cursor: pointer;
  border: 1px solid #ff0077;
  background-color: #ff0077;
  color: white;
  padding: 0.05rem 1rem;
  box-shadow: 1px 1px 2px rgba(0, 0, 0, 0.26);
  border-radius: 20px;
  margin: 0 1rem;
}

<<<<<<< HEAD
#events button:hover,
#events button:active {
=======
button:hover,
button:active {
>>>>>>> 9520fa2 (assignment vue basic - 01)
  background-color: #ec3169;
  border-color: #ec3169;
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.26);
}
